@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
.sidebar{
    background-color: #673AB7;
    width: 20vw;
    font-family: 'Montserrat', sans-serif;
}
.sidebar nav{
    padding-top: 20px ;
    padding-bottom: 20 px;
} 
.sidebar nav li{
    font-size: 30px;
    list-style: none;
    padding: 33px;
}
.main{
    background-color: #462979b3;
    width: 80vw;
}
.container{
    display: flex;
}